<!DOCTYPE html>
<html>
  <head>
    <title>srs eats</title>
    <meta name="description" property="og:description" content="A fullstack pixel-perfect tribute to the serious eats site.">
    <meta property="og:title" content="Srs Eats" />
    <meta name="image" property="og:image" content="<%= image_url('screenshot.png') %>">
    <meta name="author" content="Max Phillips">
    <meta
      property="og:url"
      content="http://srseats.herokuapp.com/#/"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body id='root'>
    <%= yield %>
  </body>
</html>
